.footer{
    background-color: black;
    color: aliceblue;
}
.about-footer{
 
}
.footer-ancor{
    text-decoration: none;
    color: aliceblue;
}
.footer-ancor:hover{
   
    color: orange;
   
}
.footer-cart{
    border: none;
    background: black;
}